<!DOCTYPE html>
<html>
<% include ./partials/header %>

    <body>
        <div class="container mt-3">
            <h1>In The Woods</h1>
        </div>

        <% if (message.length> 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>

                <div class="container mt-5">
                    <form action="/signup" method="post">
                        <div class="form-outline mb-4">
                            <input required id="username" name="username" class="form-control" />
                            <label class="form-label">Username</label>
                        </div>

<<<<<<< HEAD
                        <div class="form-outline mb-4">
                            <input required type="password" id="password" name="password" class="form-control" />
                            <label class="form-label">Password</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
                    </form>
=======
        <div class="container mt-5">
            <form action="/signup" method="post">
                <div class="form-outline mb-4">
                    <input required id="username" name="username"  class="form-control" />
                    <label class="form-label">Username</label>
                </div>

                <div class="form-outline mb-4">
                    <input required type="password" id="password"  name="password" class="form-control" />
                    <label class="form-label">Password</label>
>>>>>>> 79995500a97232b81169d474d3a80f1fbf2b955d
                </div>
    </body>

</html>