body {
  background-color: rgb(220, 245, 255) !important;
}

.GameContainer {
  margin: auto;
  width: 1500px;
}

#WindowsGameSpace {
  border: 5px solid #000000;
  margin-top: 3%;
}

.navbar-custom {
  background-color: rgb(21, 24, 48);
}

#Title {
  font-size: 1000%;
}

#SmallTitle {
  font-size: 800%;
}

.img-border {
  border: 5px solid #000000;
}

.ImageText {
  font-size: 25px;
}